.App {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

    .chat-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        textarea {
            background-color: black;
            border: 1px solid green;
            color: green;
            outline: none !important;

            &:hover, :focus {
                border: 1px solid green;
                outline: none !important;
            }
        }

        button {
            color: green;
            background-color: black;
            border: 1px solid green;
            width:100%;
            &:hover {
                color:lightgreen;
                cursor:pointer;
            }
        }

        .output-box {
            p {
                color: green;
                margin-top: 50px!important;
                overflow: hidden; /* Ensures the content is not revealed until the animation */
                border-right: .15em solid orange; /* The typwriter cursor */
                white-space: nowrap; /* Keeps the content on a single line */
                margin: 0 auto; /* Gives that scrolling effect as the typing happens */
                letter-spacing: .15em; /* Adjust as needed */
                animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
            }
        }
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: green;
    }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
